[Unit]
Description="Serviço de monitoramento do docker"
After=docker.service

[Service]
type=forking

ExecStart=/opt/docker-monitor/docker-monitor.sh start
ExecStop=/opt/docker-monitor/docker-monitor.sh stop

[Install]
WantedBy=multi-user.target

